@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@300;400&display=swap');

:root {
    --white1: #F5F5F7;
    --black1: #000000;
    --gray1: #8B8B8B;
    --gray2: #333333;

}

/* ---------- CSS reset ----------*/
*, 
*::before, 
*::after{
    box-sizing: border-box;
    outline: rgb(21, 0, 255) 1px solid 
}

* {
    margin: 0;
    padding: 0;
}

/* ---------- main body ----------*/
body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: var(--white1);

    display: grid;
    grid-template-rows: 0.15fr 1fr;
}

nav{
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    height: 15vh;
    background-color: rgba(245, 245, 247, 0.5);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: sticky;
    top: 0;
}

/* --------- navigator ----------*/
nav > span {
    font-size: 2rem;
}

nav > div {
    font-size: 1.5rem;

    display: flex;
    gap: 5vw;
}

/* ---------- home ----------*/
.home {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}

.left{
    font-family: 'Open Sans', sans-serif;
    grid-column: 1/2;
    padding: 10% 0 5% 35%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.right{
    grid-column: 2/3;
}

.left > span:first-child {
    font-size: 2.5rem;
    text-align: end;
    
}

.left > span:first-child > div {
    font-family: 'Kaushan Script', cursive;
    font-size: 5.5rem;
    text-transform: capitalize;
    line-height: 1;
}



.left > div:nth-child(2) p{
    color: var(--gray1);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    letter-spacing: 1.1px;
}

.left > div:last-child {
    font-size: 1.5rem;
    color: var(--gray2);
    font-family: 'Kaushan Script', cursive;
}

.left > div:last-child div {
    font-size: 2rem;
    color: var(--gray1);
    font-family: 'Open Sans', sans-serif;
}