@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@300;400&display=swap');

:root {
    --white1: #F5F5F7;
    --black1: #000000;
    --gray1: #8B8B8B;
    --gray2: #333333;
    --gray3: #bebebe;
    --red1: #D52827;

}

/* ---------- CSS reset ----------*/
*, 
*::before, 
*::after{
    box-sizing: border-box;
   /*  outline: rgb(21, 0, 255) 1px solid   */
}

* {
    margin: 0;
    padding: 0;
}

/* ---------- main body ----------*/
html {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 15vh;
}

body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */

}

body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: var(--white1);

    display: grid;
    grid-template-rows: 0.15fr 1fr;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

nav{
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    height: 15vh;
    position: sticky;
    top: 0;
    background-color: rgba(245, 245, 247, 0.5);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

/* --------- navigator ----------*/
nav > span {
    font-size: 2rem;
}

nav > div {
    font-size: 1.5rem;

    display: flex;
    gap: 5vw;
}

/* ---------- home ----------*/
.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.home > div:first-child, 
.home > div:nth-child(2){
    animation: fade linear both;
    animation-timeline: view();
}

.home > div:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 85vh;
    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 5% 36%;
}

.home > div:first-child p {
    color: var(--gray1);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    letter-spacing: 1.1px;
}

.home > div:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 85vh;
    scroll-snap-align: start;

    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    color: var(--gray2);

    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 10% 15% 36%;
}

.home > div:nth-child(2) div {
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--gray1);

    padding-left: 10%;
}

.home > img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 70%;
    height: auto;

    align-self: end;
}

.home > span:last-child {
    position: fixed;
    right: 50%;
    top: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    text-align: end;
}

.home > span:last-child > div{
    font-family: 'Kaushan Script', cursive;
    font-size: 5.5rem;
    text-transform: capitalize;
    line-height: 1;
}

@keyframes fade {
    0%, 40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70%, 100%{
        opacity: 0;
    }
}

/*---------- location ----------*/
* {
     /*  outline: 1px solid blue;    */
}

.location {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    height: 85vh;
}

.location > :first-child {
    grid-column: 1 / 2;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
   
}

.location > :first-child > label{
    font-size: 3rem;
    text-align: center;
}

.location > :first-child > label > div{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
    color: var(--gray1)
}

.location > :first-child > input {
    font-size: 1.5rem;
    width: 70%;
    border-radius: 50px;
    background-color: var(--gray3);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: none;
    color: var(--gray2);
}

.location > :first-child > button {
    width: 30%;
    height: 8%;
    border-radius: 5px;

    font-size: 1.5rem;
    background-color: var(--gray2);
    color: var(--white1);
}

.location > :last-child {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    font-family: 'Open Sans', sans-serif;
}

.location > :last-child > figcaption {
    text-align: center;
    color: var(--red1);
}

.location > :last-child > iframe {
    width: 800px;
    border: 2px solid;
}

