@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@300;400&display=swap');

:root {
    --white1: #F5F5F7;
    --black1: #000000;
    --gray1: #D6D6D6;
    --gray2: #333333;

}

/* ---------- CSS reset ----------*/
*, 
*::before, 
*::after{
    box-sizing: border-box;
    outline: rgb(21, 0, 255) 1px solid
}

* {
    margin: 0;
    padding: 0;
}

/* ---------- main body ----------*/
body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: var(--white1);

    display: grid;
    grid-template-rows: 0.15fr 1fr;
}

nav{
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    background-color: rgba(245, 245, 247, 0.5);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

#content{

}

/* --------- navigator ----------*/
nav > span {
    font-size: 2rem;
}

nav > div {
    font-size: 1.5rem;

    display: flex;
    gap: 5vw;
}
